/* Variables */
:root {
  --global-padding: 0.3em;
}

/* Defaults */
* {
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body, main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  /* TODO: This is kinda uggly, find a better way */
  height: calc(100% - 1.2em - 2*var(--global-padding));
}

header {
  margin: 0;
  padding: var(--global-padding);
  width: 100%;
  /* TODO: This is kinda uggly, find a better way */
  height: calc(1.2em + 2*var(--global-padding));
  background-color: hsl(40, 80%, 75%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}


header > * {
  margin: 0;
}

/* Classes */

.header-title {
  font-size: 1.2em;
}

.search-controls {
  padding: var(--global-padding);
  background-color: hsl(130, 80%, 75%);
  flex-grow: 1;
  overflow: auto;
}

.results {
  padding: var(--global-padding);
  background-color: hsl(260, 20%, 70%);
  flex-grow: 1;
  overflow: auto;
}

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--global-padding);
}

.component-list > li {
  --size: 1.5em;
  box-sizing: content-box;
  width: var(--size);
  height: var(--size);

  border: 0.1em solid black;
  border-radius: var(--global-padding);

  text-align: center;
  line-height: var(--size);
  font-weight: bold;
}

.component-list > li.component {
  background-color: hsl(280, 20%, 85%);
  cursor: pointer;
}

.component-list > li.component:not(.unavailable-component):hover {
  background-color: hsl(260, 25%, 70%);
}

.component-list > li.component:not(.unavailable-component):active {
  background-color: hsl(260, 25%, 50%);
}

.component-list > li.stroke-count {
  background-color: hsl(180, 50%, 95%);
}

.component-list > li.active-component {
  background-color: hsl(300, 75%, 50%);
  color: hsl(65, 80%, 85%);
}

.component-list > li.active-component:hover {
  background-color: hsl(300, 50%, 50%);
  color: hsl(0, 0%, 100%);
}

.component-list > li.unavailable-component {
  background-color: hsl(280, 20%, 30%);
  color: hsl(0, 0%, 70%);

  cursor: default;
}

.result-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--global-padding);
}

.result-list > li {
  --size: 1.5em;
  box-sizing: content-box;
  width: var(--size);
  height: var(--size);

  border: 0.1em solid black;
  border-radius: var(--global-padding);

  text-align: center;
  line-height: var(--size);
}

.result-list > li.result {
  background-color: hsl(280, 20%, 85%);
  cursor: pointer;
}

.result-list > li.result:hover {
  background-color: hsl(280, 20%, 70%);
  cursor: pointer;
}

.result-list > li.result:active {
  background-color: hsl(280, 20%, 60%);
  cursor: pointer;
}

.result-list > li.stroke-count {
  background-color: hsl(180, 50%, 95%);
}

/* Media Queries */

@media only screen and (orientation: landscape) {
  main {
    flex-flow: row;
  }
}
